<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bluetooth.modbus.snrtools2">

    <!-- 权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <!-- -->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS" />
    <uses-permission android:name="com.android.browser.permission.WRITE_HISTORY_BOOKMARKS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED" />
    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:name="com.bluetooth.modbus.snrtools2.common.SNRApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.bluetooth.modbus.snrtools2.Welcome"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.bluetooth.modbus.snrtools2.SelectDeviceActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.bluetooth.modbus.snrtools2.SNRMainActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.bluetooth.modbus.snrtools2.CheckPasswordActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.bluetooth.modbus.snrtools2.ParamSettingActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.bluetooth.modbus.snrtools2.SelectActivity"
            android:theme="@style/DialogActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.bluetooth.modbus.snrtools2.InputParamActivity"
            android:theme="@style/DialogActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.bluetooth.modbus.snrtools2.MainActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.bluetooth.modbus.snrtools2.DBDataActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.bluetooth.modbus.snrtools2.LogActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.bluetooth.modbus.snrtools2.ChaoBiaoActivity"
            android:screenOrientation="portrait">
        </activity>
        <receiver android:name=".LocaleChangeReceiver">
            <intent-filter>
                <action android:name="android.intent.action.LOCALE_CHANGED"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>